<<<<<<< HEAD
.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.student-info, .courses, .time, .status {
  background-color: #6457d6;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  border-left: 4px solid #007bff;
}

.alert {
  background-color: #c09d2a;
  border: 1px solid #ffeaa7;
  padding: 15px;
  border-radius: 5px;
  color: #856404;
}

.profile-header {
  text-align: center;
  margin-bottom: 20px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-details {
  background-color: #124612;
  padding: 15px;
  border-radius: 8px;
}
=======
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
>>>>>>> 45b560c7b7f4473bf7facaff53ad7115a265b12d
